.calendar {
    width: 90vw;
    text-align: center;
    margin: auto;
    padding-bottom: 1%;
    z-index: 1;
}

.calendar h2 {
    padding-top: 2%;
    font-size: 3rem;
    color: #061947;
    padding-bottom: 2%;
}

.fc-button {
    background-color: #061947 !important;
}

.fc-daygrid-day-number, .fc-col-header-cell-cushion,
.fc-event-title, .fc-event-time{
    color: #061947 !important;
}

 .fc-day-today {
    background: rgba(115, 179, 240, 0.418) !important;
}

@media screen and (max-width: 800px){
    .calendar h2{
        font-size: 2rem;
    }
    .fc {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 500px) {
    .fc {
        font-size: 0.5em;
    }
}