.cartBlock {
    display: flex;
    flex-direction: column;
    padding-top: 2.5%;
  }
  
  
  .cartHeader{
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 20%;
    align-items: center;
  }
  
  .cartHeader h2{
    color: #182e66;
    font-size: 45px;
  }
  
  
  .cartFooter{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-left: 2%;
    padding-right: 7%;
    padding-top: 1%;
  }
  
  .cartFooter form {
    text-align: center;
    justify-content: center;
  }

  .cartFooter div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .completeButton {
      display: flex;
      justify-content: center;
      padding: 0;
      padding-top: 10px;
  }

  .completeStyle {
      background-color: #061947;
      color: white;
      border-radius: 12px;
      width: 15rem;
      height: 3rem;
  }



  @media screen and (max-width: 730px) {
      .cartFooter {
          flex-direction: column;
          height: 50vh;
      }
      .cartFooter label{
          height: 50%;
      }
      .cartFooter div {
          height: 50%;
          display: flex;
          align-items: center;
      }
  }